
body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #111;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

header {
  background-color: #1a1a1a;
  color: #ff6600;
  text-align: center;
  padding: 25px 10px;
  font-size: 22px;
  border-bottom: 3px solid #ff6600;
}

nav {
  background-color: #222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

nav a {
  color: #eee;
  text-decoration: none;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 6px;
  transition: 0.3s;
}

nav a:hover, nav a.active {
  background-color: #ff6600;
  color: #fff;
}

.about-intro {
  text-align: center;
  margin: 25px auto;
}

#lavazem {
  font-size: 28px;
  font-weight: 700;
  color: #ff6600;
}

.banner {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin: auto;
}

.new-products {
  text-align: center;
  padding: 30px 10px;
}

.new-products h2 {
  color: #ff6600;
  font-size: 26px;
  margin-bottom: 25px;
}

.product-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 10px rgba(255,102,0,0.1);
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 15px rgba(255,102,0,0.3);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  color: #fff;
}

.price {
  color: #ff6600;
  font-weight: bold;
}

footer {
  background-color: #1a1a1a;
  color: #ccc;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #ff6600;
  margin-top: 40px;
}
.btn-buy {
  margin-top: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
